parameters:
    level: 6
    paths:
        - src
        - tests
    treatPhpDocTypesAsCertain: false
    reportUnmatchedIgnoredErrors: false
    ignoreErrors:
        # Route attribute is resolved at runtime by Symfony
        - '#Attribute class Symfony\\Component\\Routing\\Annotation\\Route does not exist\.#'
        # Request::get() is a Symfony magic method resolved at runtime
        - '#Call to an undefined method Symfony\\Component\\HttpFoundation\\Request::get\(\)\.#'
        # SeoService pre-existing type issues (will be addressed separately)
        - '#Property App\\Service\\SeoService::\$configService has no type specified\.#'
        - '#Method App\\Service\\SeoService::getMetadata\(\) return type has no value type specified in iterable type array\.#'
        - '#Method App\\Service\\SeoService::getStructuredData\(\) has parameter \$data with no value type specified in iterable type array\.#'
        - '#Method App\\Service\\SeoService::getStructuredData\(\) return type has no value type specified in iterable type array\.#'
        - '#Method App\\Service\\SeoService::getBreadcrumbs\(\) has parameter \$items with no value type specified in iterable type array\.#'
        - '#Method App\\Service\\SeoService::getBreadcrumbs\(\) return type has no value type specified in iterable type array\.#'
